body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Arial', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

input[type="text"], input[type="password"], input[type="email"], input[name="code"] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center; /* يجعل النص في المنتصف */
}




button {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

span.psw {
    float: right;
    padding-top: 16px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

#code {
    display: none;
}
